.add-popup {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.5);
}

.add-popup__dialog {
  padding: 30px;

  font-size: 1.3em;

  background-color: white;
  box-shadow: 0 1px 5px #434343;
}

.add-popup__dialog input {
  padding: 5px 10px;

  font-size: 0.8em;

  border: 1px solid #1acb1a;
  border-radius: 3px;
}

.add-popup__dialog > input:first-child {
  margin-bottom: 20px;
}

.add-popup__dialog > input:focus {
  box-shadow: 0 0 3px green;
}

.dialog__buttons {
  padding-top: 20px;

  text-align: center;
}

.dialog__buttons input {
  padding: 5px 10px;

  color: white;
  font-size: 0.9em;

  background-color: #63be7b;
  border: none;
  box-shadow: 0 1px 2px #6a6a6a;
  cursor: pointer;
}

.dialog__buttons input:hover {
  background-color: #29be3a;
}

.dialog__buttons input:first-child {
  margin-right: 20px;
}
