.remove-popup {
  padding: 30px;

  font-size: 1.3em;

  background-color: white;
  box-shadow: 0 1px 5px #434343;
}

.remove-popup__buttons {
  padding-top: 20px;

  text-align: center;

  button:first-child {
    margin-right: 20px;
  }
}

